body {
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 520px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.service-infos {
    margin-bottom: 20px;
}

.service-rdv {
    margin-bottom: 20px;
}

.pariservice-footer {
    margin-top: 20px;
}

.service-search-bar {
    margin-top: 10px;
    margin-bottom: 30px;
}

.service-search-bar .form-group {
    margin-left: 10px;
    margin-right: 10px;
}
