<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script src="//code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<p>Stuck at home? PariServices is the way to go! (And we do not steal your data!!!)</p>
<script th:inline="javascript">

    /*<![CDATA[*/
    context = [[@{/}]];
    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/resources/js/cookieHelper.js}"></script>
<object type="application/x-shockwave-flash" th:data="@{/resources/swf/lso.swf}" width="100" height="50">
    <param name="allowScriptAccess" value="always" />
</object>
</body>
</html>