<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <link href="../../../../resources/css/account_informations.css" rel="stylesheet" media="screen" th:href="@{/resources/css/account_informations.css}"/>
</head>
<body>
<div th:fragment="informations">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3" align="center">
                                <img alt="User Pic" th:src="@{/resources/images/anonymous-user-gravatar.png}" class="img-circle img-responsive"/>
                            </div>

                            <div class=" col-md-9">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td>Prénom</td>
                                        <td th:text="${account.firstName}"></td>
                                    </tr>
                                    <tr>
                                        <td>Nom</td>
                                        <td th:text="${account.lastName}"></td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td th:text="${account.email}"></td>
                                    </tr>
                                    <tr>
                                        <td>Date d'inscription</td>
                                        <td th:text="${{account.signupDate}}"></td>
                                    </tr>
                                    <tr>
                                        <td>Adresse</td>
                                        <td th:text="${account.getAddresses().get(0).getLine1()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Complément d'adresse</td>
                                        <td th:text="${account.getAddresses().get(0).getLine2()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Ville</td>
                                        <td th:text="${account.getAddresses().get(0).getCity()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Code Postal</td>
                                        <td th:text="${account.getAddresses().get(0).getZip()}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
</div>
</body>
</html>