<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="pending" th:align="center">
    <div class="panel">
        <div class="panel-body">
            <th:block th:if="${account.requests == null or account.requests.isEmpty()}">
                <p>Aucune requête en cours.</p>
            </th:block>
            <th:block th:unless="${account.requests == null or account.requests.isEmpty()}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Volontaires</th>
                        <th>Date limite pour les proposition</th>
                        <th>Date limite pour le service</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr th:each="request : ${account.requests}" th:if="${request.getCurrentState().code &lt; 2}">
                        <td><a th:href="@{/service/{id}(id = ${request.id})}" th:text="${request.title}"></a></td>
                        <td th:inline="text" th:with="candidats = ${request.offerors.size()}">
                            <th:block th:unless="${request.offerors.isEmpty()}">
                                [[${candidats}]] candidat[[${candidats gt 1}?'s':'']]
                            </th:block>
                            <th:block th:if="${request.offerors.isEmpty()}">
                                Aucun candidat
                            </th:block>
                        </td>
                        <td th:text="${{request.biddingDeadline}}"></td>
                        <td th:text="${{request.serviceDeadline}}"></td>
                    </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>