<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<form class="form-narrow form-horizontal" method="post" th:action="@{/signup}" th:object="${account}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${account.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Please Sign Up</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="email" placeholder="Email address" th:field="*{email}" />
                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <label for="password" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
            <label for="firstName" class="col-md-3 control-label">First name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="firstName" placeholder="First name" th:field="*{firstName}"/>
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect first name</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
            <label for="lastName" class="col-md-3 control-label">Last name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="lastName" placeholder="Last name" th:field="*{lastName}"/>
                <span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect last name</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('addresses[0].line1')}? 'has-error'">
            <label for="line1" class="col-md-3 control-label">Address line 1</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="line1" placeholder="Address line 1" th:field="*{addresses[0].line1}"/>
                <span class="help-block" th:if="${#fields.hasErrors('addresses[0].line1')}" th:errors="*{addresses[0].line1}">Incorrect address</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('addresses[0].line2')}? 'has-error'">
            <label for="line2" class="col-md-3 control-label">Address line 2</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="line2" placeholder="Address line 2" th:field="*{addresses[0].line2}"/>
                <span class="help-block" th:if="${#fields.hasErrors('addresses[0].line2')}" th:errors="*{addresses[0].line2}">Incorrect address</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('addresses[0].city')}? 'has-error'">
            <label for="city" class="col-md-3 control-label">City</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="city" placeholder="City" th:field="*{addresses[0].city}"/>
                <span class="help-block" th:if="${#fields.hasErrors('addresses[0].city')}" th:errors="*{addresses[0].city}">Incorrect city</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('addresses[0].zip')}? 'has-error'">
            <label for="zip" class="col-md-3 control-label">Postal code</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="zip" placeholder="Postal code" th:field="*{addresses[0].zip}"/>
                <span class="help-block" th:if="${#fields.hasErrors('addresses[0].zip')}" th:errors="*{addresses[0].zip}">Incorrect postal code</span>
            </div>
        </div>
        <div class="form-group">
            <label for="country" class="col-md-3 control-label">Country</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="country" placeholder="France" disabled="disabled" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-default">Sign up</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <p>Already have an account? <a href="signin" th:href="@{/signin}">Sign In</a></p>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>