<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>

</head>
<body>
<section layout:fragment="content">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p>
        Welcome to Service In Paris !
        Need something to be done ? Find someone to do it. Legal stuff only.
    </p>
    <p>
        <a th:href="@{/service/create}">Request a service</a>
    </p>
    <p>
        <a th:href="@{/service}">List services</a>
    </p>
</section>
</body>
</html>