<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
    <title>Welcome!</title>
</head>
<body>
<section layout:fragment="content">
    <div class="text-center">
        <h1>Service In Paris</h1>
        <p class="lead">
            Welcome to the Service In Paris !
            Get started quickly by signing up.
        </p>
        <p>
            <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Sign up</a>
        </p>
    </div>
</section>
</body>
</html>