<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
    <title>Welcome!</title>
</head>
<body>
<section layout:fragment="content">
    <div class="text-center">
        <h1>PariServices</h1>
        <p class="lead">
            Bienvenue sur PariServices !
            Inscrivez vous vite pour commencer a demander et rendre des services.
        </p>
        <p>
            <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Creer un compte</a>
        </p>
    </div>
</section>
</body>
</html>