<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
    <title th:text="#{view.index.title}">Bienvenue!</title>

</head>
<body>
<section layout:fragment="content">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <h1>
        Bienvenue sur PariServices !
    </h1>
    <p>
        ParisService vous permet d'investir vos ressources en temps et en argent tout en rendant service à la communauté parisienne.
    </p>
    <p>
        Du temps libre ? Investissez-le en <a th:href="@{/service}">rendant</a> service à quelqu'un en échange d'une rémunération. Vous devez tout d'abord postuler avant la date limite des candidature. L'auteur de l'annonce choisira alors quelle volontaire il souhaite pour son service. Si vous êtes sélectionné, vous recevrez un mail de confirmation. Attention à bien respecter la date limite pour satisfaire votre client !
    </p>
    <p>
        Vous avez les moyens mais pas le temps pour répondre à un de vos besoins ? <a th:href="@{/service/create}">Demander</a> service à quelqu'un. Créer votre annonce en spécifiant un titre, une adresse de livraison, des tags pour la recherche  ainsi que deux dates limites: une pour la soumission des candidatures et une pour rendre le service. Vous pouvez également spécifier une adresse intermédiaire qui sera reliée au service. Par exemple le lieux ou trouver l'objet dans le cas d'un achat.
    </p>
    <h3 align="center">
        Qu'attendez-vous ?
    </h3>
    <div class="row">
        <div class="col-md-12" align="center">
           <h3><a th:href="@{/service}">Rendez</a> ou <a th:href="@{/service/create}">demandez</a> un Service!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" align="center">
            <p>Vous craignez le tracking? Installez <a href="https://adblockplus.org" target="_blank">AdBlock Plus</a> et ajoutez la liste de filtrage EasyPrivacy pour deqfendre votre privacy</p>
        </div>
        <div class="col-md-12">
            <iframe src="http://parisgroupvents.appspot.com/inocent.html" width="100%" height="200px" sandbox=""></iframe>
        </div>
    </div>
</section>
</body>
</html>
