<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
    <title th:text="#{view.index.title}">Bienvenue!</title>

</head>
<body>
<section layout:fragment="content">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p>
        Bienvenue sur PariServices !
        Vous avez besoin de quelque chose ? Trouvez quelqu'un pour vous l'apporter.
    </p>
    <p>
        <a th:href="@{/service/create}">Demander un service !</a>
    </p>
    <p>
        <a th:href="@{/service}">Trouver un service a rendre !</a>
    </p>
</section>
</body>
</html>