<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>Profile</title>
</head>
<body >
<section layout:fragment="content">

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#infos" role="tab" data-toggle="tab">Informations</a></li>
                <li role="presentation"><a href="#avis" role="tab" data-toggle="tab">Avis</a></li>
                <li role="presentation"><a href="#demandes" role="tab" data-toggle="tab">Mes demandes</a></li>
                <li role="presentation"><a href="#candidatures" role="tab" data-toggle="tab">Mes candidatures</a></li>
                <li role="presentation"><a href="#history" role="tab" data-toggle="tab">Services rendus</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="infos">
                    <div th:replace="account/fragments/informations :: informations(account=${account})">informations</div>
                </div>
                <div role="tabpanel" class="tab-pane" id="avis">
                    <div th:replace="account/fragments/reviews :: reviews">reviews</div>
                </div>
                <div role="tabpanel" class="tab-pane" id="demandes">
                    <div th:replace="account/fragments/pending :: pending"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="candidatures">
                    <div th:replace="account/fragments/applications :: applications"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="history">
                    <div th:replace="account/fragments/history :: history"></div>
                </div>
            </div>
        </div>
    </div>

</section>




</body>
</html>