<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="#{view.service.list.title}">Welcome!</title>
</head>
<body>
<section layout:fragment="content">
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">&nbsp;</div>
    </th:block>

    <form class="form-horizontal" method="get" th:action="@{/service}" th:object="${serviceSearch}">
        <!--/* Show general error message when form contains errors */-->
        <fieldset>
            <div class="form-group">
                <label for="title" class="col-md-3 control-label">Title</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="title" placeholder="Title" th:field="*{title}" />
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="col-md-3 control-label">Category</label>
                <div class="col-md-9">
                    <select class="form-control" id="category" th:field="*{category}" style="width:100%;">
                        <option th:value="NULL"></option>
                        <option th:each="cat : ${categories}" th:value="${{cat}}" th:text="${cat.name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="tags" class="col-md-3 control-label">Tags</label>
                <div class="col-md-9">
                    <select class="form-control" id="tags" th:field="*{tags}" multiple="multiple" data-tags="true" style="width:100%;">
                        <option th:each="tag : ${allTags}" th:value="${{tag}}" th:text="${tag.name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>


    <ul>
        <li th:each="s : ${services}"><a th:href="@{/service/{id}(id = ${s.id})}" th:text="${s.title}"></a></li>
    </ul>

    <th:block th:if="${not services.hasContent()}">
        <div th:replace="fragments/alert :: alert (type=${'warning'}, message=${'Aucun resultat'})">&nbsp;</div>
    </th:block>


    <div class="table-pagination" th:if="${services.hasContent()}">
        <ul class="pagination">
            <li th:class="${services.isFirst()} ? 'disabled' : ''">
                <a th:if="${not services.isFirst()}" th:href="@{${'/service'}(page=${services.number-1},size=${services.size})} + ${serviceSearch}">Previous</a>
                <a th:if="${services.isFirst()}" href="javascript:void(0);">Previous</a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(0, services.totalPages - 1)}" th:class="${services.number eq pageNo}? 'active' : ''">
                <a th:if="${services.number  eq pageNo}" href="javascript:void(0);">
                    <span th:text="${pageNo + 1}"></span>
                </a>
                <a th:if="${not (services.number  eq pageNo)}" th:href="@{${'/service'}(page=${pageNo},size=${services.size})} + ${serviceSearch}">
                    <span th:text="${pageNo + 1}"></span>
                </a>

            </li>
            <li th:class="${not services.hasNext()} ? 'disabled' : ''">
                <a th:if="${services.hasNext()}" th:href="@{${'/service'}(page=${services.number+1},size=${services.size})} + ${serviceSearch}">Next</a>
                <a th:if="${not services.hasNext()}" href="javascript:void(0);">Next</a>
            </li>
        </ul>
    </div>
</section>
</body>
</html>