<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="#{view.service.list.title}">Welcome!</title>
</head>
<body>
<section layout:fragment="content">
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">&nbsp;</div>
    </th:block>

    <div class="row service-search-bar">
        <div class="col-md-12" align="center">
            <form class="form-inline" method="get" th:action="@{/service}" th:object="${serviceSearch}">
                <fieldset>
                    <div class="form-group">
                        <label for="title" class="control-label">Titre</label>
                        <input type="text" class="form-control" id="title" placeholder="Titre" th:field="*{title}" />
                    </div>
                    <div class="form-group">
                        <label for="category" class="control-label">Catégorie</label>
                        <select class="form-control" id="category" th:field="*{category}" style="min-width: 50px;">
                            <option th:value="NULL"></option>
                            <option th:each="cat : ${categories}" th:value="${{cat}}" th:text="${cat.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tags" class="control-label">Tags</label>
                        <select class="form-control" id="tags" th:field="*{tags}" multiple="multiple" data-tags="true" style="min-width:50px;">
                            <option th:each="tag : ${allTags}" th:value="${{tag}}" th:text="${tag.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="size" class="control-label">Par page</label>
                        <select class="form-control" id="size" name="size">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Rechercher</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>

    <div class="row">
        <th:block th:if="${services.hasContent()}">
            <div class="table-responsive col-md-12">
                <caption th:inline="text">[[${services.getTotalElements()}]] résultats</caption>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Date limite de livraison</th>
                        <th>Adresse</th>
                        <th>Fin des candidatures</th>
                        <th>Candidatures</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="s : ${services}">
                        <td><a th:href="@{/service/{id}(id = ${s.id})}" th:text="${s.title}"></a></td>
                        <td th:text="${{s.serviceDeadline}}"></td>
                        <td th:text="${s.address.toString()}"></td>
                        <td th:text="${{s.biddingDeadline}}"></td>
                        <td th:text="${s.offerors.size()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>

        <th:block th:if="${not services.hasContent()}">
            <div th:replace="fragments/alert :: alert (type=${'warning'}, message=${'Aucun resultat'})">&nbsp;</div>
        </th:block>


        <div class="table-pagination col-md-12" align="center" th:if="${services.hasContent()}">
            <ul class="pagination">
                <li th:class="${services.isFirst()} ? 'disabled' : ''">
                    <a th:if="${not services.isFirst()}" th:href="@{${'/service'}(page=${services.number-1},size=${services.size})} + ${serviceSearch}">Previous</a>
                    <a th:if="${services.isFirst()}" href="javascript:void(0);">Previous</a>
                </li>

                <li th:each="pageNo : ${#numbers.sequence(0, services.totalPages - 1)}" th:class="${services.number eq pageNo}? 'active' : ''">
                    <a th:if="${services.number  eq pageNo}" href="javascript:void(0);">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a th:if="${not (services.number  eq pageNo)}" th:href="@{${'/service'}(page=${pageNo},size=${services.size})} + ${serviceSearch}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                </li>

                <li th:class="${not services.hasNext()} ? 'disabled' : ''">
                    <a th:if="${services.hasNext()}" th:href="@{${'/service'}(page=${services.number+1},size=${services.size})} + ${serviceSearch}">Next</a>
                    <a th:if="${not services.hasNext()}" href="javascript:void(0);">Next</a>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>