<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <title>Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
    <div th:replace="fragments/header :: header">Header</div>
    <div class="container">
        <div class="row">
            <h1 th:inline="text">Titre: [[${service.title}]]</h1>
            <div class="col-md-3 col-md-offset-9">
                <form th:action="@{/service/{id}(id = ${service.id})}" method="post">
                    <button type="submit" >Rendre service !</button>
                </form>
            </div>
        </div>
        <div class="row">
            <p>Description: <span th:text="${service.description}"></span></p>
        </div>
        <div id="directions" class="row">
            <div class="col-md-3">
                <b>Départ:</b>
                <br />
                <input id="start" type="text" />
                <br />
            </div>
            <div class="col-md-6">
                <i>Adresses favorites:</i>
                <br />
                <select id="favorites" th:each="address : ${account.addresses}">
                    <option th:value="${address}"><span th:text="${address.name}"></span></option>
                </select>
                <br />
                <!--
                <b>Lieu d'achat:</b>
                <br />
                <p><span id="waypoint" th:text="${service.biddingPlaceAdresse}"></span></p>
                <br />
                -->
            </div>
            <div class="col-md-6">
                <b>Lieu de rendez-vous:</b>
                <br />
                <p><span id="end" th:text="${service.address.line1 + ' ' + service.address.line2 + ' ' + service.address.city + ' ' + service.address.zip}"></span></p>
                <br />
                <b>Moyen de transport:</b>
                <br />
                <select id="travelMode">
                    <option value="transit">Transports en commun</option>
                    <option value="walking">A pied</option>
                    <option value="bicycling">En vélo</option>
                    <option value="driving">En véhicule</option>
                </select>
                <br />
                <br />
                <input type="submit" id="submit" value="Calculer itinéraire !" />
            </div>
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
    </div>
    <script>

        window.initMap = function () {
            directionsService = new google.maps.DirectionsService;
            directionsDisplay = new google.maps.DirectionsRenderer;

            var element = document.getElementById('map');

            $(element).css('height', '500px');

            var map = new google.maps.Map(element, {
                zoom: 12,
                scrollwheel: false,
                center: {lat: 48.85661, lng: 2.35222}
            });
            directionsDisplay.setMap(map);

            document.getElementById('submit').addEventListener('click', function() {
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            });
        };


        function calculateAndDisplayRoute() {

            /*
            var waypoint = document.getElementById('waypoint').innerHTML;

            var waypointArray = [];

            if(waypoint != "") {
                var temp = {location: waypoint, stopover: true};
                waypointArray.push(temp);
            }
            */

            var travelMode = {
                transit : google.maps.TravelMode.TRANSIT,
                driving : google.maps.TravelMode.DRIVING,
                bicycling : google.maps.TravelMode.BICYCLING,
                walking : google.maps.TravelMode.WALKING
            };
            var selectedTravelMode = travelMode[$('#travelMode').val()];

            directionsService.route({
                origin: document.getElementById('start').value,
                destination: document.getElementById('end').innerHTML,
                //waypoints: waypointArray,
                optimizeWaypoints: true,
                travelMode: selectedTravelMode
            }, function(response, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Le calcul de l\'itinéraire a échoué. Peut être avez vous entrer une mauvaise adresse ?' + status);
                }
            });
        }

        $(document).ready(function() {
            $('#favorites').change(function (event) {
                $('#start').val($(this).val());

                calculateAndDisplayRoute();
            });

            $('#travelMode').change(calculateAndDisplayRoute);

        });
    </script>
    <script th:src="@{https://maps.googleapis.com/maps/api/js(key = 'AIzaSyC1d-ntv8DXxJvj6eOr2RMK5Wo5qVrWcUw', signed_in = 'true', callback = 'initMap')}" async="async" defer="defer"></script>
</body>
</html>